{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/style.css">
<h2>Welcome to Twitter, {{request.user.username}}!</h2>
<h5>Number of Tweets Created: {{tweet_count}}</h5>
<h5>Number Following: {{request.user.following.count}}</h5>
<h5>Following:</h5>
{% for value in request.user.following.values %}
<h6>{{value.username}}</h6>
{% endfor %}
<hr>
{% for tweet in tweets %}
{% if tweet.created_by == request.user %} <!--add tagged by and followed user tweets-->
 <div class='card text-dark bg-light mb-3' style='width: 22rem'>
    <h4 class='card-header'>{{tweet.created_by}}</h4>
    <div class='card-body'>
        <h5 class='card-title'>{{tweet.text}}</h5>
        <h6 class='card-title'>{{tweet.date_created}}</h6>
        <a class='btn btn-primary btn-sm' href='/user/{{tweet.created_by.id}}/'>{{tweet.created_by}}'s Profile</a>
        <a class='btn btn-primary btn-sm' href='/tweet/{{tweet.id}}/'>Tweet Details</a>
    </div>
</div> 
{% endif %} 
{% if tweet.created_by.id == follow_id %}
<div class='card text-dark bg-light mb-3' style='width: 22rem'>
    <h4 class='card-header'>{{tweet.created_by}}</h4>
    <div class='card-body'>
        <h5 class='card-title'>{{tweet.text}}</h5>
        <h6 class='card-title'>{{tweet.date_created}}</h6>
        <a class='btn btn-primary btn-sm' href='/user/{{tweet.created_by.id}}/'>{{tweet.created_by}}'s Profile</a>
        <a class='btn btn-primary btn-sm' href='/tweet/{{tweet.id}}/'>Tweet Details</a>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
