{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/style.css">
<br>
{% for notification in notifications %}
{% if notification.user_to_notify == request.user and notification.new == True %}
<div class='card' style='width: 18rem'>
    <div class='card-body'>
        <h4 class='card-title'>{{notification.user_to_notify}}</h4>
        <h4 class='card-title'>{{notification.message}}</h4>
        <h4 class='card-title'>{{notification.new}}</h4>
    </div>
</div>
{% endif %}
{% endfor %}
{% if not notifications %}
<h4>What can I say? It's a slow tweet day 🐢</h4>
{% endif %}
{% endblock %}
