{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/style.css">
<br>
{% for notification in notifications %}
{% if notification.user_to_notify == request.user %}
<div class='card' style='width: 18rem'>
    <div class='card-body'>
        <h4 class='card-title'>{{notification.user_to_notify}}</h4>
        <h4 class='card-title'>{{notification.message}}</h4>
        <h4 class='card-title'>{{notification.new}}</h4>
    </div>
</div>
{% elif request.user != notification.user_to_notify %}
<h4>Slow tweet day...nothing to notify you about...</h4>
{% endif %}
{% endfor %}
{% endblock %}
