{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/style.css">
<h2>{{twitter_user.username}}'s Profile</h2>
{% if twitter_user != request.user %}
<a class='btn btn-primary btn-sm' href='/follow/{{twitter_user.id}}/'>Follow</a>
<a class='btn btn-primary btn-sm' href='/unfollow/{{twitter_user.id}}/'>Unfollow</a>
{% endif %}
<h5>Number of Tweets Created: {{tweet_count}}</h5>
<h5>Number Following: {{twitter_user.following.count}}</h5>
<h5>Following:</h5>
{% for value in twitter_user.following.values %}
<h6>{{value.username}}</h6>
{% endfor %}
<hr>
<h4>Tweets:</h4>
{% for tweet in tweets %}
{% if tweet.created_by == twitter_user %} <!--add tagged by and followed user tweets-->
<div class='card text-dark bg-light mb-3' style='width: 22rem'>
    <h4 class='card-header'>{{tweet.created_by}}</h4>
    <div class='card-body'>
        <h5 class='card-title'>{{tweet.text}}</h5>
        <h6 class='card-title'>{{tweet.date_created}}</h6>
        <a class='btn btn-primary btn-sm' href='/tweet/{{tweet.id}}/'>Tweet Details</a>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
